header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #EAE7DC;
  color: #E85A4F;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  a {
    font-size: 30px;
    font-weight: 800;
    margin-right: 10px;
  }
  button {
    border: 1px solid currentColor;
    padding: 5px;
  }
}
